
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cinzel:wght@400;500;600;700&family=Lora:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600&family=Nanum+Myeongjo:wght@400;700;800&family=Pinyon+Script&family=Pixelify+Sans:wght@400;500&family=Roboto:wght@100;300;400;500&family=Space+Grotesk:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
